.hero--overlay-layer{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* Full size on page */
    margin-top: -20px;
}

.negative-margin {
  margin-top: -20px;
  position: relative;
}