@use '../base' as *;

.card-menu-button{
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 3;
}

.card-body, .card-user{
    height: 200px;

    @include max-breakpoint(md){
        height: 150px;
    }

    @include max-breakpoint(sm){
        height: 150px;
    }
}

.card-user{
    padding-bottom: 80px;
}

.card-body{
    position: absolute;
    top: 0;
    background: var(--color-bg-light);

    .img-blend-bottom{
        @include breakpoint(xl){
            bottom: 50px;
        }
    }
}

.card-user-content{
    position: absolute;
    padding-top: var(--space-md) !important;
    z-index: 2;
}

li.card{
    position: relative;
}
