.card-menu-button{
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 2;
}

.card-user{
    padding-bottom: 80px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-user-content{
    position: absolute;
    padding-top: var(--space-md) !important;
    z-index: 1;
}

.card-author {
    z-index: 15;
    margin-top:-30px;
}