.js-custom-select-counter{
    position: absolute;
    right: 47px;
    background: var(--color-contrast-low);
    padding: 4px 5px 2px 5px;
    font-size: 14px;
    border-radius: 10px;
}

.js-custom-select-counter-selected{
    margin-left: 5px;
}
