.tags-carousel-image{
    min-height: 150px;
    max-height: 190px;
    border-radius: 10px;
}

.tags-carousel-name{
    font-weight: bold;
    font-size: 17px;
}

.tags-carousel-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

.tags-carousel-image-none{
    border-radius: 10px;
    height: 150px;
    margin-bottom: 5px;
}

.slider-item{
    width: 180px;
    height: 180px;
    color: white;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
}

#slider-box{
    cursor: grab;
    overflow: hidden;
    scroll-behavior: smooth;
}

#slider-container{
    position: relative;
}

.slider{
    display: flex;
    width: fit-content;
    align-items: center;
}

.slider-left-arrow, .slider-right-arrow{
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
    background: black;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: Arial, serif;
    user-select: none;
    top: 0;
    bottom: 0;
    margin: auto;
}

.slider-left-arrow:hover, .slider-right-arrow:hover{
    opacity: 1;
}

.slider-right-arrow{
    right: -20px;
}

.slider-left-arrow{
    left: -20px;
}

.tags-carousel-image{
    pointer-events: none;
}
