.followers-container{
    .avatar-group{
        .avatar{
            figure{
                svg{
                    margin-left: 4px;
                    margin-top: 4px;
                }
                img{
                    min-height: 40px;
                }
            }
        }
    }
}

.contest-hide-all-followers{
    display: none;
}

.admin-follow-avatar-box{
    img{
        height: 40px;
        width: 40px;
    }
}
