.followers-container{
    .avatar-group{
        .avatar{
            figure{
                svg{
                    margin-left: 4px;
                    margin-top: 4px;
                }
                img{
                    min-height: 40px;
                }
            }
        }
    }
}

.contest-hide-all-followers{
    display: none;
}

.admin-follow-avatar-box{
    img{
        height: 40px;
        width: 40px;
    }
}

.contest-status-container{
    .contest-status-label{
        font-size: 18px;
    }

    .contest-status{
        font-size: 17px;
    }
}

.contest-status{
    text-transform: capitalize;
}

.contest-status-close{
    color: red;
}

.contest-status-open{
    color: greenyellow;
}

.contest-status-draft{
    color: yellow;
}

.contest-status-published{
    color: yellow;
}
