.tag-thumbnail-on-page{
    div{
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-position: center;
    }
}
.tag-without-image{
    background-color: #3b3b3b;
    height: 100%;
    width: 100%;
}
