b{
    font-weight: bold;
}

.enlil-article{
    p{
        padding: 0.7em 0;
    }
}

.ce-paragraph[data-placeholder]:empty::before {
    color: hsla(var(--color-contrast-low-h), var(--color-contrast-low-s), var(--color-contrast-low-l), var(--color-o, 1)) !important;
}


.codex-editor svg {
    fill: var(--color-contrast-high) !important;
    vertical-align: middle;
    max-height: 100%;
}

.ce-block--selected{
    .ce-block__content{
        background-color: transparent;
    }
}

.ce-inline-toolbar, .ce-settings{
    background-color: var(--color-bg);
    border-color: var(--color-contrast-lower);
}

.ce-toolbar__plus--active, .ce-toolbar__plus:hover {
    border-color: var(--color-bg);
    background-color: var(--color-contrast-lower);
}

.ce-toolbar__settings-btn--active, .ce-toolbar__settings-btn:hover {
    border-color: var(--color-bg);
    background-color: var(--color-contrast-lower);
}

.ce-toolbox__button:hover{
    background-color: var(--color-bg);
    border-color: var(--color-contrast-lower);
}

#js-editor-description[data-read-only="true"]{
    .ce-block__content,
    .ce-toolbar__content {
        max-width: unset;
    }
}

#js-editor-description:not([data-read-only="true"]){
    /* This is style for correction original Edits.js editor "height" style */
    .codex-editor__redactor{
        padding-bottom: 270px !important;
    }

    .codex-editor__loader{
        padding: 0px !important;
    }

    .ce-block__content,
    .ce-toolbar__content {
        max-width: 100%;
        width: 100%;
    }
    .ce-toolbox {
        margin-top: 5px;
        margin-bottom: -5px;
        margin-left: -5px;
        background: transparent !important;
    }
    .ce-toolbar__plus {
        left: -5px;
    }

    @media (max-width:650px) {
        .ce-toolbar__content {
            right: 0 !important;
            width: auto !important;
        }

        .ce-toolbar--opened{
            border-color: var(--color-bg);
            background-color: var(--color-bg-light);
            box-shadow: none;
            margin-top: -3px;
        }

        .ce-toolbar__content{
            position: relative;
            margin-top: -8px;
        }

        .ce-toolbar__actions{
            right: auto !important;
        }
    }

    .fl-align-center {
        align-items: center;
    }

    .ce-toolbar__actions{
        right: 5px;
        margin-top: 4px;
    }

    .codex-editor{
        svg{
            use{
                fill: var(--color-contrast-high) !important;
            }
        }
    }
}
