@use '../base' as *;

.masonry-grid{
    margin: 0 auto;
}

.grid-item {
    margin-bottom: 20px;
}

@include breakpoint(xs) {
    .grid-item {
        width: 135px;

        h3{
            font-size: 10px;
        }
    }

    .preload-item{
        max-width: 125px;
    }
}

@include breakpoint(sm){
    .grid-item {
        width: 220px;
    }

    .preload-item{
        max-width: 210px;
    }
}

@include breakpoint(md){
    .grid-item{
        width: 230px;
    }

    .preload-item{
        max-width: 220px;
    }
}

@include breakpoint(lg){
    .grid-item {
        width: 260px;
        h3{
            font-size: 13px;
        }
    }

    .preload-item{
        max-width: 250px;
    }
}

@include breakpoint(xl){
    .grid-item {
        width: 300px;
        h3{
            font-size: 13px;
        }
    }

    .preload-item{
        max-width: 290px;
    }
}

.preload-item{
    margin: 0;

    div{
        margin-bottom: 0;
    }
}


.preload-grid{
    justify-content: center;
    gap: 20px;
}

.loader-ellips {
    font-size: 20px; /* change size here */
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto;
}

.loader-ellips__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #555; /* change color here */
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
    left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
    from { transform: scale(0.001); }
    to { transform: scale(1); }
}

@keyframes slide {
    to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
    animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
    animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
}

.preload-box{
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    z-index: 1;
    background-color:  var(--color-bg, #fff);
    min-height: 500px;
}
