@use '../base' as *;
@use '_1_notifications.scss' as *;
@use '_1_popover.scss' as *;

/* -------------------------------- 

File#: _2_notifications-popover
Title: Notifications Popover
Descr: A popover containing a list of notification items
Usage: codyhouse.co/license

-------------------------------- */

.notif-popover {
  &.popover {
    --popover-width: 280px;
  }

  .notif {
    --notif-figure-size: 40px;
  }
}

@include breakpoint(md) {
  .notif-popover {
    &.popover {
      --popover-width: 360px;
    }
  }
}

.notif-popover-control {
  height: 2.6em;
  width: 2.6em;
  border-radius: 50%;
  display: inline-flex;
  transition: .3s;

  .icon {
    margin: auto;
    font-size: 20px; // icon size
    display: block;
  }

  &:active {
    transform: translateY(2px);
  }

  &:hover {
    cursor: pointer;
    background-color: alpha(var(--color-contrast-higher), 0.075);
  }

  &.popover-control--active { // popover is visible
    background-color: alpha(var(--color-primary), 0.2);
    color: var(--color-primary); // icon color
  } 
}