@use '../base' as *;
@use '_2_autocomplete.scss' as *;

/* -------------------------------- 

File#: _3_select-autocomplete
Title: Select Autocomplete
Descr: Selection dropdown with autocomplete
Usage: codyhouse.co/license

-------------------------------- */

.select-auto {
  &.autocomplete {
    --autocomplete-dropdown-vertical-gap: 4px; // gap between input and results list
    --autocomplete-dropdown-max-height: 250px;
    --autocomplete-dropdown-scrollbar-width: 6px; // custom scrollbar - webkit browsers
  }
}

// input
.select-auto__input-wrapper {
  --input-btn-size: 1.25em; // btn/icon size
  --input-btn-icon-size: 16px; // btn/icon size
  --input-btn-text-gap: var(--space-xxs); // gap between button/icon and text
  
  position: relative;

  .form-control {
    width: 100%;
    height: 100%;
    padding-right: calc(var(--form-control-padding-x) + var(--input-btn-size) + var(--input-btn-text-gap));
  }
}

.select-auto__input-icon-wrapper {
  width: var(--input-btn-size);
  height: var(--input-btn-size);

  position: absolute;
  top: calc(50% - var(--input-btn-size)/2);
  right: var(--form-control-padding-x);

  display: flex;

  pointer-events: none;

  .icon {
    display: block;
    margin: auto;
    width: var(--input-btn-icon-size, 16px);
    height: var(--input-btn-icon-size, 16px);
  }
}

.select-auto__input-btn {
  display: none;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  pointer-events: auto;
  cursor: pointer;
  color: var(--color-contrast-medium); // icon color
  transition: .3s;

  &:hover {
    color: var(--color-contrast-high);
  }

  &:active {
    transform: translateY(2px);
  }
}

.select-auto--selection-done {
  .select-auto__input-icon-wrapper > .icon {
    display: none;
  }

  .select-auto__input-btn {
    display: flex;
  }
}

// dropdown
.select-auto__results {
  // reset spacing and typography
  @include spaceUnit(1rem);
  @include textUnit(1rem);
}

// single result item
.select-auto__option {
  position: relative;
  cursor: pointer;
  transition: .2s;

  &:hover {
    background-color: alpha(var(--color-contrast-higher), 0.05);
  }

  &:focus {
    outline: none;
    background-color: alpha(var(--color-primary), 0.12);
  }

  &.select-auto__option--selected {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding-right: calc(1em + var(--space-sm));
    @include fontSmooth;

    &:focus {
      background-color: var(--color-primary-dark);
    }

    &::after {
      content: '';
      position: absolute;
      right: var(--space-sm);
      top: calc(50% - 0.5em);
      height: 1em;
      width: 1em;
      background-color: currentColor;
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolyline stroke-width='2' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round' points='1,9 5,13 15,3 '/%3E%3C/svg%3E");
    }
  }
}

.select-auto__group-title, .select-auto__no-results-msg {
  outline: none;
}